{% extends 'base.html' %}

{% block content %}
    <a href="/accounts/signup/teacher" class="btn btn-parent btn-lg" role="button">Create Teacher Account</a>
    <a href="/accounts/signup/admin" class="btn btn-parent btn-lg" role="button">Create Admin Account</a>
   <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Parent</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        {% for parent in User.0 %}
          <tr>

            <td class="align-middle">{{ parent.username }}</td>
            <td class="text-right">
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4"></td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
 <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Teacher</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        {% for teacher in User.1 %}
          <tr>

            <td class="align-middle">{{ teacher.username }}</td>
            <td class="text-right">
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4"></td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
 <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Admin</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        {% for admin in User.2 %}
          <tr>

            <td class="align-middle">{{ admin.username }}</td>
            <td class="text-right">
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4"></td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

{% endblock %}



